/*! Додайте стилізацію ваших єлементів тут */

body {
    background-color: #fffbda;
    font-family: 'Roboto';
}

#body-one{
    padding: 30px;
}

.title-main {
    text-align: center;
    line-height: 2em;
    color: darkred;
    font-size: 100px;
}

.title-lesson{
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    color: blue;
}
.title-smal{
    text-align: center;
    font-size: 100px;
}
.green{
    color: green;
} 
.red{
    color: red;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-link{
    color: deepskyblue;
}
.link-to-main{
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 90px;
    height: 45px;
    color: brown;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border: 3px green solid;
    margin: 0 auto;
    padding: 4px;
}

.lesons{
    margin-bottom: 30px;
}

tr{
    width: 50%;
}

th{
    border: 2px black solid;
    /* /* width: 50%; */
    height: 40px;
    padding: 5px;
}
td{
    border: 2px red solid;
    /* /* width: 50%; */
    height: 40px;
    padding: 5px;
}
.number-lesson{
    width: 80px;
}