#gallery {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  justify-content: center;
}
#gallery li img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
#gallery li img:hover {
  transform: scale(1.05);
}


#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 200px;
}